*{
    margin: 0%;
    padding: 0%;
  
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #5E936C;
}
.container{
    background-color: #E8FFD7;
    padding: 2rem;
    border-radius: 1rem;
    height:50vh;
    width:40vh;
}
form{
    margin:1rem 0 1rem 0;
}
form select,button,input{
    width:100%;
    border: none;
    outline: none;
    border-radius: 0.75rem;

}
form input{
    border:1px solid #5E936C;
    font-size: 1rem;
    height:3rem;
    padding-left:0.5rem;
}
.dropdown{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}
.dropdown i{
    font-size: 1.5rem;
   margin-top:1rem;
}
.selectcontainer img{
    max-width: 1.75rem;
}
.selectcontainer{
    display: flex;
    background-color: #fff;
   
    border-radius: 0.5rem;
    width: 6rem;
    border: 1px solid #93DA97;
    justify-content: center;
    align-items: center;
}
.selectcontainer select{
    font-size: 1rem;
    margin: auto;


}
.msg{
    margin:2rem 0 2rem 0;
}
form button{
    height: 3rem;
    background-color:#93DA97;
    color:#3E5F44;
    font-size:1.2rem;
    cursor: pointer;

}